.App {
  text-align: left;
  min-width: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  float: left;
  height: 65px;
}

.App-header {
  background-color: #222;
  color: white;
  height: 75px;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-top: 5px;
}

.App-title {
  font-size: 1.5em;
  float: right;
  width: fit-content;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.notification-wrapper {
  position: absolute;
  z-index: 25;
  width: 100%;
  padding-top: 50px;
  padding-right: 50px;
  opacity: 0.95;
}

.notification {
  float: right;
  min-width: 250px;
  max-width: 400px;
}
