.custom-progress-bar {
    height: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background: #f5f5f5 -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    transition: height .2s ease;
    -webkit-transition: height .2s ease;
}
.custom-progress-bar:hover {
    height: 8px;
}

.custom-progress-bar-fill {
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
}

.video-title {
    display: inline-block;
    font-size: 20px;
    height: 100%;
    margin-left: 10px;
    max-width: 75%;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.player {
    background-color: #000;
    max-height: 475px;
}

.video-wrapper {
    position: relative;
}

.video-overlays {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 5px;
    width: 100%;
    z-index: 10;
    background-color: #000;
    opacity: 0.7;
    transition: opacity .5s ease;
}

.overlay-img {
    width: inherit;
    max-height: 475px;
    object-fit: contain;
}

.active-video {
    background-color: #bebebe;
    color: #000;
    font-weight: bold;
}

.inactive-video:hover {
    background-color: #f5f5f5;
}


